Repository Azure/iotedge-lorawan-starterkit, pull requests merged in 2021-12, with the labels that each got.

#926 Feature/add metrics in ci
  .github/workflows/e2e-ci.yaml
  LoRaEngine/deployment.ci.aio.template.json
  LoRaEngine/deployment.ci.lbs.template.json
  LoRaEngine/deployment.ci.lns.eflow.template.json
Labels: fullci, OTAAJoinTest, MacTest, ClassCTest, MultiGatewayTest, MultiConcentratorTest

#983 Bugfix/982 Slow docker build for ARM
  LoRaEngine/modules/LoRaBasicsStationModule/Dockerfile.amd64
  LoRaEngine/modules/LoRaBasicsStationModule/Dockerfile.arm32v7
  LoRaEngine/modules/LoRaBasicsStationModule/start_basestation_amd64.sh
  LoRaEngine/modules/LoRaBasicsStationModule/start_basicsstation.sh
Labels: fullci, SensorDecodingTest, 1️⃣

#958 Feature/956 aio should use server auth
  .github/workflows/e2e-ci.yaml
  LoRaEngine/deployment.ci.aio.template.json
Labels: fullci, SensorDecodingTest, OTAAJoinTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, 2️⃣

#1021 Update how we raise Prometheus metrics
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/BasicsStationNetworkServerStartup.cs
Labels: SensorDecodingTest, ClassCTest, C2DMessageTest, 1️⃣

#1036 Fix the versioning
  .github/actions/deployedge/action.yml
  .github/workflows/e2e-ci.yaml
  LoRaEngine/deployment.ci.aio.template.json
  LoRaEngine/deployment.ci.lbs.template.json
  LoRaEngine/deployment.ci.lns.eflow.template.json
Labels: fullci, SensorDecodingTest, 1️⃣

#904 Feature/568 cache redesign
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/BasicsStationConfigurationService.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/BasicsStationNetworkServerStartup.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DefaultClassCDevicesMessageSender.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DevEUIToLoRaDeviceDictionary.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DeviceLoaderSynchronizer.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ILoRaDeviceClient.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ILoRaDeviceClientConnectionManager.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ILoRaDeviceFactory.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/JoinDeviceLoader.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/JoinRequestMessageHandler.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDevice.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceCache.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceClient.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceClientConnectionManager.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceFactory.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceRegistry.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaRequest.cs
  Tests/Common/LoRaDeviceCacheDefault.cs
  Tests/Common/MessageProcessorMultipleGatewayBase.cs
  Tests/Common/MessageProcessorTestBase.cs
  Tests/Common/SearchLogEvent.cs
  Tests/Common/SingleDeviceConnectionManager.cs
  Tests/Common/TestLoRaDeviceFactory.cs
  Tests/Integration/ClassCCloudToDeviceMessageSizeLimitTests.cs
  Tests/Integration/ClassCIntegrationTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAbandonTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAcceptTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldRejectTests.cs
  Tests/Integration/CloudToDeviceMessageTests.cs
  Tests/Integration/DecoderTests.cs
  Tests/Integration/DeduplicationStrategyIntegrationTests.cs
  Tests/Integration/FunctionBundlerIntegrationTests.cs
  Tests/Integration/JoinSlowGetTwinTests.cs
  Tests/Integration/JoinSlowTwinUpdateTests.cs
  Tests/Integration/JoinTests.cs
  Tests/Integration/KeepAliveConnectionTests.cs
  Tests/Integration/MultiGatewayTests.cs
  Tests/Integration/ParallelProcessingTests.cs
  Tests/Integration/ProcessingTests.cs
  Tests/Unit/NetworkServer/ADRMessageProcessorTest.cs
  Tests/Unit/NetworkServer/BasicsStation/BasicsStationConfigurationServiceTests.cs
  Tests/Unit/NetworkServer/DefaultClassCDevicesMessageSenderTest.cs
  Tests/Unit/NetworkServer/DeviceLoaderSynchronizerTest.cs
  Tests/Unit/NetworkServer/FcntLimitTest.cs
  Tests/Unit/NetworkServer/JoinDeviceLoaderTest.cs
  Tests/Unit/NetworkServer/LoRaDeviceCacheTest.cs
  Tests/Unit/NetworkServer/LoRaDeviceClientConnectionManagerTests.cs
  Tests/Unit/NetworkServer/LoRaDeviceFactoryTest.cs
  Tests/Unit/NetworkServer/LoRaDeviceRegistryTest.cs
  Tests/Unit/NetworkServer/LoRaDeviceTest.cs
  Tests/Unit/NetworkServer/MessageProcessorJoinTest.cs
  Tests/Unit/NetworkServer/MessageProcessorMultipleGatewayTest.cs
  Tests/Unit/NetworkServer/MessageProcessorSingleGatewayTest.cs
Labels: fullci, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 2️⃣

#1073 Use `DevAddr` in `LoraKeysManagerFacade`
  LoRaEngine/LoraKeysManagerFacade/DeviceGetter.cs
  LoRaEngine/LoraKeysManagerFacade/IoTHubDeviceInfo.cs
  LoRaEngine/LoraKeysManagerFacade/LoRaDevAddrCache.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/JsonHandlers/LnsData.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/JsonHandlers/LnsDiscovery.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan/Data128.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan/DevAddr.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan/Hexadecimal.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan/LoRaProcessingException.cs
  Tests/Integration/DevAddrCacheTest.cs
  Tests/Unit/LoRaWan/DevAddrTests.cs
  Tests/Unit/LoRaWan/HexadecimalTests.cs
  Tests/Unit/NetworkServer/JsonHandlers/LnsDiscoveryTests.cs
Labels: SensorDecodingTest, OTAAJoinTest, OTAATest, MacTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest

#1080 Remove `ConcentratorId` from `DeviceLoadRequests` custom metric
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/MetricRegistry.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest

#1065 Feature/1063 E2E for CUPS scenario
  .github/workflows/e2e-ci.yaml
  LoRaEngine/deployment.ci.aio.template.json
  LoRaEngine/modules/LoRaBasicsStationModule/helper-functions.sh
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/BasicsStationConfigurationService.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/ClientCertificateValidatorService.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/CupsResponse.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/CupsTwinInfo.cs
  Tests/Common/IntegrationTestBase.cs
  Tests/Common/IntegrationTestFixtureBase.cs
  Tests/Common/TestConfiguration.cs
  Tests/Common/TestUtils.cs
  Tests/E2E/CupsTests.cs
  Tests/E2E/IntegrationTestFixtureCI.cs
  Tests/E2E/MultiConcentratorTests.cs
  Tests/E2E/appsettings.json
  Tests/Unit/NetworkServer/BasicsStation/BasicsStationConfigurationServiceTests.cs
  Tests/Unit/NetworkServer/CupsProtocolMessageProcessorTests.cs
  Tests/Unit/NetworkServer/CupsResponseTests.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest

#937 Bug/900 respect deduplication strategy
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/BasicsStationNetworkServerStartup.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/Processors/LnsProtocolMessageProcessor.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ConcentratorDeduplication.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Constants.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DefaultLoRaDataRequestHandler.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DownlinkMessageBuilderResponse.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/IConcentratorDeduplication.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/JoinRequestMessageHandler.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDevice.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/MessageDispatcher.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/WebSocketWriterRegistry.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/LoRaMessage/LoRaPayload.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/LoRaMessage/LoRaPayloadData.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/LoRaMessage/LoRaPayloadJoinAccept.cs
  Tests/Common/MessageProcessorMultipleGatewayBase.cs
  Tests/Common/MessageProcessorTestBase.cs
  Tests/E2E/IntegrationTestFixtureCI.cs
  Tests/E2E/MultiConcentratorTests.cs
  Tests/Integration/ConcentratorDeduplicationDataMessagesIntegrationTests.cs
  Tests/Integration/ConcentratorDeduplicationJoinRequestsIntegrationTests.cs
  Tests/Integration/DecoderTests.cs
  Tests/Integration/LnsProtocolMessageProcessorConcentratorDeduplicationIntegrationTests.cs
  Tests/Integration/ProcessingTests.cs
  Tests/Unit/LoRaTools/LoRaPayloadTest.cs
  Tests/Unit/NetworkServer/ConcentratorDeduplicationTest.cs
  Tests/Unit/NetworkServer/LnsProtocolMessageProcessorTests.cs
  Tests/Unit/NetworkServer/WebSocketWriterRegistryTests.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, MultiConcentratorTest, CupsTest

#1087 Refactor tests to remove RXPKs
  Tests/Common/MessageProcessorTestBase.cs
  Tests/Common/SimulatedDevice.cs
  Tests/Common/TestUtils.cs
  Tests/Common/WaitableLoRaRequest.cs
  Tests/Integration/ClassCIntegrationTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitBaseTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAbandonTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAcceptTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldRejectTests.cs
  Tests/Integration/CloudToDeviceMessageTests.cs
  Tests/Integration/ConcentratorDeduplicationDataMessagesIntegrationTests.cs
  Tests/Integration/ConcentratorDeduplicationJoinRequestsIntegrationTests.cs
  Tests/Integration/DecoderTests.cs
  Tests/Integration/DeduplicationStrategyIntegrationTests.cs
  Tests/Integration/FunctionBundlerIntegrationTests.cs
  Tests/Integration/JoinSlowGetTwinTests.cs
  Tests/Integration/JoinSlowTwinUpdateTests.cs
  Tests/Integration/JoinTests.cs
  Tests/Integration/KeepAliveConnectionTests.cs
  Tests/Integration/MultiGatewayTests.cs
  Tests/Integration/ParallelProcessingTests.cs
  Tests/Integration/ProcessingTests.cs
  Tests/Unit/LoRaTools/LoRaPayloadTest.cs
  Tests/Unit/LoRaWan/LoRaLibraryTest.cs
  Tests/Unit/NetworkServer/ADRMessageProcessorTest.cs
  Tests/Unit/NetworkServer/ConcentratorDeduplicationTest.cs
  Tests/Unit/NetworkServer/DeviceLoaderSynchronizerTest.cs
  Tests/Unit/NetworkServer/FcntLimitTest.cs
  Tests/Unit/NetworkServer/LoRaDeviceRegistryTest.cs
  Tests/Unit/NetworkServer/LoRaDeviceTelemetryTest.cs
  Tests/Unit/NetworkServer/MessageProcessorJoinTest.cs
  Tests/Unit/NetworkServer/MessageProcessorMultipleGatewayTest.cs
  Tests/Unit/NetworkServer/MessageProcessorSingleGatewayTest.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 2️⃣, MultiConcentratorTest, CupsTest

#1117 added new NOTICE file Universal_Decoder_NOTICE 40890
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice

#1116 added new NOTICE file LBS_NOTICE 40890
  LoRaEngine/modules/LoRaBasicsStationModule/NOTICE.txt
Labels: notice

#1118 added new NOTICE file LNS_NOTICE 40890
  LoRaEngine/modules/LoRaWanNetworkSrvModule/NOTICE.txt
Labels: notice

#1088 Reuse FramePort
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/JsonHandlers/LnsData.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DefaultLoRaDataRequestHandler.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DownlinkMessageBuilder.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ILoRaPayloadDecoder.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaCloudToDeviceMessageWrapper.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceTelemetry.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaPayloadDecoder.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan/FramePort.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/CommonAPI/ILoRaCloudToDeviceMessage.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/CommonAPI/LoRaCloudToDeviceMessage.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/CommonAPI/LoRaFPort.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/LoRaMessage/LoRaPayloadData.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/LoRaMessage/LoRaPayloadDataLns.cs
  Tests/Common/FramePorts.cs
  Tests/Common/SimulatedDevice.cs
  Tests/Common/TestLoRaPayloadDecoder.cs
  Tests/E2E/C2DMessageTest.cs
  Tests/E2E/ClassCTest.cs
  Tests/E2E/MacTest.cs
  Tests/Integration/ClassCCloudToDeviceMessageSizeLimitTests.cs
  Tests/Integration/ClassCIntegrationTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAbandonTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAcceptTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldRejectTests.cs
  Tests/Integration/CloudToDeviceMessageTests.cs
  Tests/Integration/ConcentratorDeduplicationDataMessagesIntegrationTests.cs
  Tests/Integration/KeepAliveConnectionTests.cs
  Tests/Integration/MultiGatewayTests.cs
  Tests/Integration/ProcessingTests.cs
  Tests/Unit/LoRaTools/LoRaCloudToDeviceMessageTest.cs
  Tests/Unit/LoRaWan/FramePortTests.cs
  Tests/Unit/LoRaWan/LoRaLibraryTest.cs
  Tests/Unit/LoraKeysManagerFacade/SendCloudToDeviceMessageTest.cs
  Tests/Unit/NetworkServer/ADRMessageProcessorTest.cs
  Tests/Unit/NetworkServer/DefaultClassCDevicesMessageSenderTest.cs
  Tests/Unit/NetworkServer/JsonHandlers/LnsDataTests.cs
  Tests/Unit/NetworkServer/LoRaDeviceTelemetryTest.cs
  Tests/Unit/NetworkServer/LoRaPayloadDecoderTest.cs
Labels: SensorDecodingTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, MultiConcentratorTest, CupsTest

#1133 added new NOTICE file Universal_Decoder_NOTICE 40973
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice

#1140 Feature/812 turn eflow on off in ci
  .github/actions/power-azure-vm/action.yml
  .github/workflows/e2e-ci.yaml
  .github/workflows/power_eflow_vm.yml
Labels: fullci, SensorDecodingTest, OTAAJoinTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, MultiConcentratorTest, CupsTest

#1145 added new NOTICE file Universal_Decoder_NOTICE 41004
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice
