Repository Azure/iotedge-lorawan-starterkit, pull requests merged in 2022-02, with the labels that each got.

#1460 Updating BasicsStation module to v2.0.6
  .github/workflows/e2e-ci.yaml
  LoRaEngine/modules/LoRaBasicsStationModule/Dockerfile.amd64
  LoRaEngine/modules/LoRaBasicsStationModule/Dockerfile.arm32v7
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, MultiGatewayTest, MultiConcentratorTest, CupsTest

#1457 Remove duplicate log statements
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DownlinkMessageBuilder.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/FunctionBundler/FunctionBundlerProvider.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest

#1453 Use DI `IHttpClientFactory` and DI `HttpClient`
  LoRaEngine/LoraKeysManagerFacade/CreateEdgeDevice.cs
  LoRaEngine/LoraKeysManagerFacade/FacadeStartup.cs
  LoRaEngine/LoraKeysManagerFacade/LoraKeysManagerFacade.csproj
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/BasicsStationNetworkServerStartup.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/IServiceFacadeHttpClientProvider.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaApiHttpClient.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceAPIService.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaPayloadDecoder.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaWan.NetworkServer.csproj
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ServiceFacadeHttpClientProvider.cs
  Tests/Common/DisposableValue.cs
  Tests/Common/MessageProcessorMultipleGatewayBase.cs
  Tests/Common/MessageProcessorTestBase.cs
  Tests/Common/MockHttpClientFactory.cs
  Tests/Integration/DecoderTests.cs
  Tests/Integration/DeduplicationStrategyIntegrationTests.cs
  Tests/Integration/LoRaApiHttpClientTests.cs
  Tests/Unit/NetworkServer/LoRaApiHttpClientTests.cs
  Tests/Unit/NetworkServer/LoRaDeviceApiServiceTests.cs
  Tests/Unit/NetworkServer/LoRaPayloadDecoderTest.cs
  Tests/Unit/NetworkServer/ModuleConnectionHostTest.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest

#1487 added new NOTICE file Universal_Decoder_NOTICE 42375
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice

#1488 added new NOTICE file LNS_NOTICE 42375
  LoRaEngine/modules/LoRaWanNetworkSrvModule/NOTICE.txt
Labels: notice

#1516 E2E tests for discovery service
  .github/workflows/e2e-ci.yaml
  AssemblyInfo.cs
  Tests/E2E/LnsDiscoveryTests.cs
  Tests/E2E/LoRaWan.Tests.E2E.csproj
  Tests/Integration/LnsDiscoveryIntegrationTests.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1503 Feature/1492 LoRaBasicsStationModule with pre-built binary for corecell devices
  .github/workflows/e2e-ci.yaml
  LoRaEngine/modules/LoRaBasicsStationModule/Dockerfile.amd64
  LoRaEngine/modules/LoRaBasicsStationModule/Dockerfile.arm32v7
  LoRaEngine/modules/LoRaBasicsStationModule/corecell.station.conf
  LoRaEngine/modules/LoRaBasicsStationModule/helper-functions.sh
  LoRaEngine/modules/LoRaBasicsStationModule/start_basicsstation.sh
  LoRaEngine/modules/LoRaBasicsStationModule/sx1301.station.conf
  Tests/Common/TestConfiguration.cs
  Tests/Common/TestUtils.cs
  Tests/E2E/appsettings.json
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, MultiConcentratorTest, CupsTest

#1519 added new NOTICE file LNS_NOTICE 42563
  LoRaEngine/modules/LoRaWanNetworkSrvModule/NOTICE.txt
Labels: notice

#1533 added new NOTICE file Universal_Decoder_NOTICE 42614
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice

#1526 Trace IoT Hub dependencies
  LoRaEngine.sln
  LoRaEngine/modules/LoRaWanNetworkSrvModule/Dockerfile.amd64
  LoRaEngine/modules/LoRaWanNetworkSrvModule/Dockerfile.amd64.debug
  LoRaEngine/modules/LoRaWanNetworkSrvModule/Dockerfile.arm32v7
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/ApplicationInsightsTracing.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/ClientCertificateValidatorService.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/ModuleConnection/ModuleConnectionHost.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/Processors/LnsProtocolMessageProcessor.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DeviceLoaderSynchronizer.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/JoinRequestMessageHandler.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDevice.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceClient.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceClientConnectionManager.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDeviceFactory.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaWan.NetworkServer.csproj
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/ILoggerExtensions.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/IotHubLogger.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/LoRaConsoleLogger.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/LoRaLoggerConfiguration.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/LoggerConfigurationMonitor.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/LoggerHelper.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/TcpLogger.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Logger/TcpLoggerConfiguration.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/MessageDispatcher.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/NoopDisposable.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/NullDisposable.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/LoRaTools.csproj
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/MACCommand.cs
  Tests/Common/TestLoRaDeviceFactory.cs
  Tests/Common/TestOutputLogger.cs
  Tests/E2E/C2DMessageTest.cs
  Tests/Integration/ClassCCloudToDeviceMessageSizeLimitTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAbandonTests.cs
  Tests/Integration/CloudToDeviceMessageSizeLimitShouldAcceptTests.cs
  Tests/Unit/NetworkServer/ApplicationInsightsTracingTests.cs
  Tests/Unit/NetworkServer/LoRaDeviceFactoryTest.cs
  Tests/Unit/NetworkServer/Logger/IoTHubLoggerTests.cs
  Tests/Unit/NetworkServer/Logger/LoRaConsoleLoggerTests.cs
  Tests/Unit/NetworkServer/Logger/LoggerConfigurationMonitorTests.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1537 Migrate from `Microsoft.Azure.EventHubs` to `Azure.Messaging.EventHubs`
  Directory.Build.props
  Tests/Common/EventHubDataCollector.cs
  Tests/Common/IntegrationTestFixtureBase.Asserts.cs
  Tests/Common/IntegrationTestFixtureBase.cs
  Tests/Common/LoRaWan.Tests.Common.csproj
  Tests/Common/Utility.cs
  Tests/E2E/LoRaWan.Tests.E2E.csproj
  Tests/Simulation/SimulatedLoadTests.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1558 added new NOTICE file Universal_Decoder_NOTICE 42752
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice
