Repository Azure/iotedge-lorawan-starterkit, pull requests merged in 2022-03, with the labels that each got.

#1562 MAC command unit tests
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/DownlinkMessageBuilder.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/Cid.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/DevStatusAnswer.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/DutyCycleRequest.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/LinkADRAnswer.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/LinkADRRequest.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/LinkCheckAnswer.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/MACCommand.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/MACCommandJsonConverter.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/Mac/RXParamSetupRequest.cs
  Tests/Unit/LoRaTools/MacCommandTests.cs
  Tests/Unit/LoRaTools/TxParamSetupAnswerTests.cs
  Tests/Unit/LoRaTools/TxParamSetupRequestTests.cs
  Tests/Unit/LoRaWan/MacCommandJsonConverterTest.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1591 Defaulting DeduplicationStrategy to Drop
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/LoRaDevice.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/TwinProperty.cs
  Tests/Common/TestDeviceInfo.cs
  Tests/E2E/ABPTest.cs
  Tests/E2E/C2DMessageTest.cs
  Tests/E2E/IntegrationTestFixtureCI.cs
  Tests/E2E/MultiGatewayTests.cs
  Tests/E2E/OTAATest.cs
  Tests/Integration/JoinTests.cs
  Tests/Integration/MultiGatewayTests.cs
  Tests/Integration/ParallelProcessingTests.cs
  Tests/Integration/ProcessingTests.cs
  Tests/Simulation/IntegrationTestFixtureSim.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1588 Use logging scopes in Facade wherever possible
  LoRaEngine/LoraKeysManagerFacade/ConcentratorCredentialsFunction.cs
  LoRaEngine/LoraKeysManagerFacade/ConcentratorFirmwareFunction.cs
  LoRaEngine/LoraKeysManagerFacade/DeviceGetter.cs
  LoRaEngine/LoraKeysManagerFacade/FCntCacheCheck.cs
  LoRaEngine/LoraKeysManagerFacade/FacadeStartup.cs
  LoRaEngine/LoraKeysManagerFacade/FunctionsBundler/FunctionBundlerFunction.cs
  LoRaEngine/LoraKeysManagerFacade/LoRaADRFunction/LoRaADRServerManager.cs
  LoRaEngine/LoraKeysManagerFacade/SearchDeviceByDevEUI.cs
  LoRaEngine/LoraKeysManagerFacade/SendCloudToDeviceMessage/SendCloudToDeviceMessage.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoraTools/ILoggerExtensions.cs
  Tests/Integration/DevAddrCacheTest.cs
  Tests/Unit/LoRaTools/ApiVersionTest.cs
  Tests/Unit/LoRaTools/LoggerExtensionsTests.cs
  Tests/Unit/LoraKeysManagerFacade/ADRFunctionTest.cs
  Tests/Unit/LoraKeysManagerFacade/ApiValidationTest.cs
  Tests/Unit/LoraKeysManagerFacade/DeviceGetterTest.cs
  Tests/Unit/LoraKeysManagerFacade/FCntCacheCheckTest.cs
  Tests/Unit/LoraKeysManagerFacade/FunctionBundlerTest.cs
  Tests/Unit/LoraKeysManagerFacade/SearchDeviceByDevEUITest.cs
Labels: SensorDecodingTest, OTAAJoinTest, OTAATest, MacTest, ClassCTest, MultiGatewayTest, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1577 Function notifies losing LNS with a direct method
  .github/workflows/e2e-ci.yaml
  LoRaEngine/LoraKeysManagerFacade/FacadeStartup.cs
  LoRaEngine/LoraKeysManagerFacade/FunctionsBundler/DeduplicationExecutionItem.cs
  LoRaEngine/LoraKeysManagerFacade/HttpUtilities.cs
  LoRaEngine/LoraKeysManagerFacade/LoraKeysManagerFacade.csproj
  LoRaEngine/LoraKeysManagerFacade/LoraKeysManagerFacadeConstants.cs
  LoRaEngine/LoraKeysManagerFacade/SendCloudToDeviceMessage/SendCloudToDeviceMessage.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/BasicsStation/ModuleConnection/ModuleConnectionHost.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/Constants.cs
  LoRaEngine/modules/LoRaWanNetworkSrvModule/LoRaWan.NetworkServer/MetricRegistry.cs
  Tests/Common/SimulatedDevice.cs
  Tests/Common/TestConfiguration.cs
  Tests/Integration/DeduplicationStrategyIntegrationTests.cs
  Tests/Integration/DeduplicationWithRedisIntegrationTests.cs
  Tests/Simulation/IntegrationTestFixtureSim.cs
  Tests/Simulation/SimulatedLoadTests.cs
  Tests/Simulation/appsettings.json
  Tests/Unit/LoraKeysManagerFacade/FunctionBundlerTest.cs
  Tests/Unit/LoraKeysManagerFacade/MessageDeduplicationTests.cs
  Tests/Unit/NetworkServer/ModuleConnectionHostTest.cs
Labels: fullci, SensorDecodingTest, OTAAJoinTest, ABPTest, OTAATest, MacTest, ClassCTest, C2DMessageTest, MultiGatewayTest, 1️⃣, MultiConcentratorTest, CupsTest, LnsDiscoveryTest

#1597 added new NOTICE file Universal_Decoder_NOTICE 42899
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice

#1598 added new NOTICE file LNS_NOTICE 42899
  LoRaEngine/modules/LoRaWanNetworkSrvModule/NOTICE.txt
Labels: notice

#1606 added new NOTICE file LNS_NOTICE 42940
  LoRaEngine/modules/LoRaWanNetworkSrvModule/NOTICE.txt
Labels: notice

#1619 added new NOTICE file Universal_Decoder_NOTICE 43119
  Samples/UniversalDecoder/NOTICE.txt
Labels: notice

#1620 added new NOTICE file LNS_NOTICE 43119
  LoRaEngine/modules/LoRaWanNetworkSrvModule/NOTICE.txt
Labels: notice
